/*makes the nav in the body take up the whole top!*/
body {
  display: block;
  margin: 0px;
}
/*creat a orang nav box only empty */
nav {
  background-color: #fe7e00;
  width: 100%;
  height: 60px;
  position: fixed;
  color: white;
}
/*move orang juiec tm and img to nav part*/
nav img {
  height: 30px;
  width: 30px;
  padding: 5px;
}
/*all ul/li move to right site of nav*/
nav > div > ul {
  float: right;
}
/*put all inline li in nav */
nav > div > ul > li {
  display: inline;
  margin: 30px;
  padding: 5px;
}
/*makes links in list white with no decoration*/
li a {
  text-decoration: none;
  color: white;
}
/*move both img and search box in center*/
section {
  text-align:center;
}
section > div .search {
  display: inline-block;
}
  .box-img {
    display: inline-block;
    margin-top: 185px;
  }


/*moved search box and icon to right*/
.search {
  float: right;
  top: 800px;
  height: 45px;
  position: absolute;
  left: 80%;
  top: 60px;
}
.box-text {
  color: #fe7e00;
  display: inline-block;
  font-size: 38px;
}
button {
  color: white;
  float: inherit;
  cursor: pointer;
  background-color: #fe7e00;
  border: 0;
  padding: 10px 30px;
}

.teal {
  background-color: #97C6C0;
}

footer {
  background-color: #97C6C0;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}
